<!DOCTYPE html>
<html lang="en">
<head>
	<title>Store Manager - Add a New Product</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main">
		<div class="login-info">
			<h2>Logged in as: Akinwale Samuel <a href="/" class="btn product-btn">Logout</a></h2>
		</div>
		<div class="dashboard">
			<div class="dash-options">
				<a href="dashboard" class="btn dash-btn">Admin Dashboard</a>
				<a href="dashboard" class="btn dash-btn">Dashboard</a>
				<a href="editproduct" class="btn dash-btn">Edit Product</a>
				<a href="deleteproduct" class="btn dash-btn">Delete Product</a>
				<a href="viewsales" class="btn dash-btn">View Sales</a>
				<a href="addattendant" class="btn dash-btn">Add Attendant</a>
				<a href="attendants" class="btn dash-btn">View Attendants</a>
			</div>
			<div class="product-available">

				<form action='/api/v1/products' method='POST'>
					<table class="form-table">
						<tr>
							<td><label for="name">Name: </label></td>
							<td><input type="text" class="form-text" name="name"></td>
						</tr>
						<tr>
							<td><label for="category">Category: </label></td>
							<td><input type="text" class="form-text" name="category"></td>
						</tr>
						<tr>
							<td><label for="description">Description: </label></td>
							<td><input type="text" class="form-text" name="description"></td>
						</tr>
						<tr>
							<td><label for="amount">Amount: </label></td>
							<td><input type="text" class="form-text" name="amount"></td>
						</tr>
						<tr>
							<td><label for="minAllowed">Minimum Allowed in Stock: </label></td>
							<td><input type="text" class="form-text" name="minAllowed"></td>
						</tr>
						<tr>
							<td><label for="price">Price: </label></td>
							<td><input type="text" class="form-text" name="price"></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" class="btn product-btn" value="Add">
								<input type="reset" class="btn product-btn" value="Reset">
								<button class="btn product-btn">Cancel</button>
							</td>
						</tr>
					</table>

				</form>
			</div>
		</div>
	</div>

</body>
</html>








